@font-face {
    font-family: 'Averta Demo PE';
    src: url('../fonts/AvertaDemoPE-Regular.eot');
    src: local('Averta Demo PE Regular'), local('AvertaDemoPE-Regular'),
    url('../fonts/AvertaDemoPE-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvertaDemoPE-Regular.woff2') format('woff2'),
    url('../fonts/AvertaDemoPE-Regular.woff') format('woff'),
    url('../fonts/AvertaDemoPE-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Averta Demo PE';
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #757575;
}
/*.header {*/
/*    background-color: white;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*}*/
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.header__logo_text_first {
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #000000;
}
.header__logo_text_second {
    font-size: 27.1472px;
    line-height: 33px;
    color: #000000;
}
.header__logo-link {
    text-decoration: none;
}
.header__wrapper {
    max-width: 1200px;
    margin: 41px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 60px;
}
.header__item:last-child {
    margin-right: 0;
}
.header__link {
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 700;
}
.header__burger {
    width: 40px;
    height: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;


}
/*Hero headline start*/
.hero-headline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 120px;
}
.hero-headline-info {
    position: relative;
    margin-right: 104px;
}
.hero-headline-img {
    position: relative;
    width: 754px;
    height: 512px;
    margin-top: 40px;
}
.hero-headline-title {
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}
.hero-headline-desc {
    margin-bottom: 33px;
}
.hero-headline-button {
    position: relative;
    width: 215px;
    height: 65px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: white;
    background: #2639ED;
    border-radius: 60px;
    border: 0;
}
.ellipse {
    position: absolute;
    width: 129px;
    height: 129px;
    background: #DAE9FF;
    border-radius: 100px;
    z-index: -1;
    left: -63px;
}
.rectangle {
    position: absolute;
    width: 178px;
    height: 178px;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    z-index: -1;
    top: 430px;
    left: 456px;
}

.hero-headline-info img {
    position: absolute;
    top: 254px;
    left: -43px;
}
/*Hero headline end*/

/*Our clients start*/
.our-client-info {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 136px;
    margin-bottom: 173px;
}
.description img {
    margin-right: 60px;
}
.our-client-title {
    width: 189px;
    height: 49px;
    margin-right: 200px;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: black;
}
.our-client-desc {
    font-size: 18px;
    line-height: 160%;
    margin-right: 60px;
    width: 336px;
}
.our-client-info__logos {
    display: flex;
    align-items: start;
}
.our-client-info__logos img {
    margin-right: 60px;
}
.our-client-info__logos img:last-child {
    margin-right: 0;
}
.google-logo {
    margin-top: 54px;
}
.airbnb-logo {
    margin-top: 54px;
}
.uber-logo {
    margin-top: 66px;
}
.amazon-logo {
    margin-top: 71px;
}
/*Our clients end*/

/*How can we help start*/


.how-can-we-help {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.how-can-we-help__cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.how-can-we-help__desc {
    position: relative;
    margin-left: 121px;
}
.how-can-we-help__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 30px;
}
.how-can-we-help__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
}
.how-can-we-help-rectangle {
    position: absolute;
    z-index: -1;
    width: 178px;
    height: 178px;
    background: #FFF5DB;
    border-radius: 100px 0 0 0;
    left: -39px;
    top: -60px;
}
.how-can-we-help-card-rectangle {
    position: absolute;
    width: 1047px;
    height: 619px;
    z-index: -2;
    background: #F4F9FF;
    border-radius: 150px 0px 0px 0px;
    right: 0;
    top: 50px;
}
.how-can-we-help-card-ellipse {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 8.8px solid #FF007A;
    right: 88px;
    top: 630px;
    z-index: -3;
}
.how-can-we-help-card {
    text-align: center;
    width: 308px;
    height: 379px;
    padding: 39px 32px 57px 32px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    margin: 0 34px 30px 0;
    background-color: white;
}
.icon-search {
    background-color: #F1F7FF;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 31px;
}
.wallet-icon {
    background-color: #FFF7E3;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 31px;
}
.code-icon {
    background-color: #FFF2F8;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 31px;
}
.square-icon {
    background-color: #DEFFEE;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 31px;
}


.how-can-we-help-card:nth-child(2) {
    position: relative;
    top: -79px;
}
.how-can-we-help-card:last-child {
    position: relative;
    top: -79px;
}
.how-can-we-help-card-1-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}
.how-can-we-help-card-1 {
    position: relative;
    text-align: center;
    width: 308px;
    height: 379px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    margin-right: 34px;
    margin-top: 79px;
    margin-bottom: 30px;
    background-color: white;
}
/* How can we help end */

/* Great since start */
.great-since-block {
    display: flex;
    justify-content: center;
    margin-bottom: 181px;
    margin-top: 146px;
}
great-since-title-block {
    position: relative;
}
.great-since-media {
    position: relative;
    padding: 0;
}
.great-since-media-video {
    margin-right: 119px;
}
.great-since-block-icon {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 356px;
    top: 2135px;
}
.great-since-media-video {
    position: relative;
    border-radius: 32px;
    box-shadow: 3px 3px 3px gray;
}
.great-since-media-video {
    width: 560px;
    height: 315px;
}
.great-since-info {
    position: relative;
    margin-top: 82px;
}
.great-since-title {
    width: 468px;
    height: 98px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: black;
    margin-bottom: 30px;
}
.great-since-desc {
    width: 532px;
    height: 104px;
    font-size: 16px;
    line-height: 160%;
}
.rectangle-great-since {
    position: absolute;
    width: 178px;
    height: 178px;
    z-index: -1;
    left: -40px;
    top: -25px;
    background: #EFF1FF;
    border-radius: 0px 0px 100px 0px;
}
.ellipse-great-since {
    position: absolute;
    width: 129px;
    height: 129px;
    top: 250px;
    left: 490px;
    background: #FFF5DB;
    border-radius: 100%;
}
/* Great since end */

/* Happy client start */
.happy-client-block {
    margin-bottom: 148px;
}
.happy-client-desc {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.happy-client-title {
    text-align: center;
    width: 485px;
    height: 49px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    color: black;
    margin-bottom: 17px;
}
.happy-client-text {
    text-align: center;
    width: 588px;
    height: 29px;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 85px;
}

.happy-client-img {
    position: relative;
}
.ellipse-happy-client {
    box-sizing: border-box;
    position: absolute;
    width: 120px;
    height: 120px;
    border: 8.8px solid #FF007A;
    border-radius: 100%;
    top: 292px;
    left: 25px;
}
.happy-client-carousel {
    display: flex;
}
.happy-client-carousel-title {
    width: 153px;
    height: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: black;
    margin-top: 84px;
    margin-bottom: 21px;
}
.happy-client-carousel-text {
    width: 412px;
    height: 78px;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 40px;
}
.happy-clients-group {
    position: relative;
    width: 400px;
}
.happy-clients-group-center {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: 162px;
    margin-top: 135px;
}
.happy-clients-group-1 {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 50px;
    top: 78px;
}
.happy-clients-group-2 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 178px;
}
.happy-clients-group-3 {
    position: absolute;
    width: 54px;
    height: 54px;
    margin-left: 285px;
    margin-top: 90px;
}
.happy-clients-group-4 {
    position: absolute;
    width: 54px;
    height: 54px;
    margin-left: 330px;
    margin-top: 175px;
}
.happy-clients-group-5 {
    position: absolute;
    width: 68px;
    height: 68px;
    margin-left: 265px;
    margin-top: 255px;
}
.happy-clients-group-6 {
    position: absolute;
    width: 98px;
    height: 98px;
    margin-left: 135px;
    margin-top: 290px;
}
.happy-clients-group-7 {
    position: absolute;
    width: 68px;
    height: 68px;
    margin-left: 50px;
    margin-top: 230px;
}
.ellipse-1-happy-client {
    width: 16px;
    height: 16px;
    left: 741px;
    top: 3009px;
    margin-right: 26px;
    border-radius: 100%;
    background: #E7F0FC;
}
.ellipse-2-happy-client {
    width: 16px;
    height: 16px;
    left: 741px;
    top: 3009px;
    margin-right: 26px;
    border-radius: 100%;
    background: #2639ED;
}
.ellipses {
    display: flex;
}
.happy-client-img-container {
    position: relative;
}
.happy-client-dots {
    position: absolute;
    width: 196px;
    height: 154px;
    margin-left: 290px;
    margin-top: -7px;
}
.ellipse-client-group {
    position: absolute;
    width: 184px;
    height: 184px;
    margin-left: 70px;
    top: 2815px;
    border-radius: 100%;
    background: #FFF5DB;
}
/* Happy client end */

/* Newsletter start */

.newsletter-block {
    display: flex;
    justify-content: center;
}
.newsletter-block__container {
    position: relative;
    width: 1197px;
    height: 292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F9FF;
    border-radius: 75px;
    margin-bottom: 146px;
    padding: 0 92px 0 92px;
}
.newsletter-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: black;
}
.newsletter-text {
    font-size: 18px;
    line-height: 160%;
}
.newsletter-input {
    width: 190px;
    height: 20px;
    margin-right: 57px;
    margin-top: 38px;
    font-size: 16px;
    line-height: 20px;
    border: 0;
}
.newsletter-form {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 3;
}
.newsletter-button {
    text-align: center;
    width: 188px;
    height: 60px;
    padding: 20px 40px;
    background: #2639ED;
    border-radius: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    color: white;
    margin-top: 18px;
    letter-spacing: 0.065em;
}
.newsletter-rectangle-30 {
    z-index: -3;
    position: absolute;
    width: 1197px;
    height: 292px;
    margin-left: 120px;
    margin-top: -90px;

    background: #F4F9FF;
    border-radius: 75px;
}
.newsletter-rectangle-32 {
    position: absolute;
    z-index: -4;
    width: 178px;
    height: 178px;
    margin-left: 82px;
    margin-top: 60px;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    transform: rotate(90deg);
}
.newsletter-rectangle-33 {
    position: absolute;
    width: 479px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: 2;
    right: 80px;
    top: 115px
}
.newsletter-rectangle-34 {
    position: absolute;
    width: 493px;
    height: 292px;
    right: 0;
    background: #2639ED;
    border-radius: 92px;

}
/* Newsletter end */

/* Footer start */
.footer-block {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.footer__logo {
    padding: 60px 0 23px 0;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.footer-nav {
    display: flex;
    padding: 60px 0 85px 0;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.footer-line {
    margin: 0 120px 0px 120px;
    border-top:1px solid #E4E4E4;
    height:100%;
}
.footer__logo-link {
    text-decoration: none;
    color: black;
}
.footer__logo_text_first {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px
}
.footer__logo_text_second {
    font-size: 24px;
    line-height: 29px
}
.footer-text {
    width: 270px;
    height: 88px;
    font-size: 14px;
    line-height: 160%;
    margin-top: 26px;
    margin-right: 191px;
    margin-bottom: 40px;
}
.footer-menu {
    margin-right: 120px;
}
.footer-menu:last-child {
    margin-right: 0px;
}
.footer-menu-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: black;
    margin-bottom: 24px;
}
.footer-menu-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 200%;
}
.footer-icons {
    margin-top: 40px;
}
.footer-icons img {
    margin-right: 16px;
}
.copyright {
    margin: 17px 0 23px 0;
    text-align: center;
    font-size: 14px;
    line-height: 160%;
}
/* Footer end */

/*Media start*/
@media screen and (max-width: 1439px) {
    .wrapper {
        padding: 0 15px 0 15px;
    }
    .hero-headline-info {
        margin: 0;
        margin-top: 100px;
    }
    .our-client-info__logos img {
        margin-right: 30px;
    }
    .newsletter-text {
        padding-right: 60px;
    }
    .newsletter-title {
        padding-right: 60px;
    }
    .hero-headline-desc {
        text-align: center;
    }
    .dot-ornament{
        display: none;
    }
    .hero-headline-button-block {
        text-align: center;
    }
}

@media screen and (max-width: 1363px) {
    .hero-headline {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }
    .ellipse-client-group {
        display: none;
    }
    .happy-clients-group {
        display: none;
    }
    .happy-client-carousel {
        justify-content: center;
    }
    .footer-nav {
        flex-wrap: wrap;
    }
    .footer-menu {
        width: 149px;
        margin-bottom: 30px;
        margin-right: 50px;
    }
    .hero-headline {
        padding-left: 0;
    }

}

@media screen and (max-width: 1239px) {
    .how-can-we-help {
        flex-direction: column;
    }
    .how-can-we-help__text {
        margin-bottom: 150px;
    }
    .how-can-we-help-card {
        margin: 0;
    }
    .how-can-we-help__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    .how-can-we-help-card-ellipse {
        display: none;
    }
    .how-can-we-help-card-rectangle {
        top: 300px;
    }
    .great-since-block {
        flex-direction: column;
        align-items: center;
    }
    .great-since-media {
        order: 1;
    }
    .great-since-title {
        width: 100%;
        text-align: center;
    }
    .great-since-desc {
        width: 100%;
        padding: 0 30px 0 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    .rectangle-great-since {
        left: 50px;
    }
    .great-since-media-video {
        margin-right: 0;
    }
}

@media screen and (max-width: 1156px) {
    .our-client-info {
        flex-direction: column;
        align-items: center;
    }
    .our-client-desc {
        margin-right: 0;
        width: 100%;
    }
    .our-client-desc {
        margin-top: 20px;
    }
    .our-client-title {
        margin: 0 auto;
    }
    .description {
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    .header__burger {
        display: flex;
    }
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #F4F9FF;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header__nav_active {
        transform: translateX(0);
    }
    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__link {
        font-size: 42px;
        line-height: 48px;
    }
    .hero-headline-bg {
        width: 100%;
        padding: 15px;
    }
    .ellipse {
        display: none;
    }
    .rectangle {
        display: none;
    }
    .happy-client-carousel-text {
        width: 100%;
    }
    .ellipses {
        margin-top: 50px;
    }
    .happy-client-img {
        width: 389px;
        height: 389px;
    }
    .happy-client-dots {
        margin-left: 179px;
    }
    .ellipse-happy-client {
        top: 235px;
    }
    .footer-nav {
        margin-left: -121px;
    }
}
@media screen and (max-width: 960px) {
    .newsletter-block__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .newsletter-rectangle-33 {
        display: none;
        right: 214px;
        top: 153px;
    }
    .newsletter-rectangle-34 {
        width: 56%;
    }
    .newsletter-input {
        margin-top: 0;
    }
    .newsletter-form {
        justify-content: center;
        align-items: center;
    }
    .newsletter-button {
        margin-top: 0;
    }
    .newsletter-text {
        margin-bottom: 20px;
    }
    .newsletter-form {
        padding: 15px;
        background-color: white;
        border-radius: 50px;
    }
    .newsletter--desc {
        position: relative;
        color: black;
    }
    .how-can-we-help__desc {
        margin-left: 0;
    }
}
@media screen and (max-width: 767px) {
    .our-client-info__logos {
        flex-direction: column;
    }
    .our-client-info__logos img {
        margin-right: 0;
    }
    .how-can-we-help__desc {
        margin-left: 0;
    }
    .how-can-we-help__cards {
        display: flex;
        flex-direction: column;
    }
    .how-can-we-help-card-rectangle {
        height: 1580px;
        right: -15px;
    }
    .how-can-we-help-card-ellipse {
        display: none;
    }
    .how-can-we-help-card:nth-child(2) {
        top: 0;
    }
    .how-can-we-help-card:last-child {
        top: 0;
    }
    .great-since-title {
        text-align: left;
        padding: 0 30px 0 30px;
    }
    .great-since-desc {
        text-align: left;
    }
    .happy-client-img {
        width: 324px;
        height: 324px;
    }
    .happy-client-dots {
        margin-left: 118px;
    }
    .ellipse-happy-client {
        top: 188px;
    }
    .ellipse-great-since {
        display: none;
    }
}
@media screen and (max-width: 664px) {
    .ellipses {
        margin-top: 100px;
    }
    .happy-client-img {
        width: 270px;
        height: 270px;
    }
    .happy-client-dots {
        margin-left: 66px;
    }
    .ellipse-happy-client {
        top: 141px;
    }
    .newsletter-block__container {
        padding: 0 20px 0 20px;
    }
    .happy-client-carousel {
        flex-wrap: wrap;
    }


}
@media screen and (max-width: 650px) {
    .hero-headline-title {
        font-size: 35px;
    }
    .hero-headline-desc {
        font-size: 14px;
    }
    .hero-headline-button {
        width: 180px;
        height: 54px;
        font-size: 15px;
        padding: 16px 33px;
    }
    .dot-ornament {
        width: 335px;
        height: 128px;
    }
    .great-since-media-video {
        width: 466px;
        height: 320px;
    }
}
@media screen and (max-width: 540px) {
    .newsletter-input {
        margin-right: 15px;
    }
    .newsletter-title {
        font-size: 33px;
    }
    .newsletter-text {
        font-size: 15px;
    }
    .newsletter-input {
        width: 124px;
    }
    .newsletter-button {
        width: 157px;
        height: 50px;
        padding: 16px 33px;
        font-size: 14px;
    }
    input::placeholder {
        font-size: 10px;
    }
    .newsletter-text {
        padding-right: 0;
    }
    .newsletter-title {
        padding-right: 0;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-nav {
        flex-direction: column;
        margin-left: 0;
    }
    .footer__logo {
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 500px) {
    .hero-headline-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .hero-headline-desc {
        font-size: 12px;
        margin-bottom: 17px;
    }
    .hero-headline-info {
        padding: 0 20px 0 20px;
    }
    .hero-headline-button {
        width: 150px;
        height: 45px;
        font-size: 12px;
        padding: 11px 27px;
    }
    .dot-ornament {
        width: 280px;
        height: 107px;
    }
    .great-since-media-video {
        width: 387px;
        height: 267px;
    }
    .great-since-desc {
        margin-bottom: 100px;
    }

}
@media screen and (max-width: 515px) {
    .happy-client-title {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 481px) {
    .great-since-title {
        margin-bottom: 100px;
    }
    .our-client-info {
        margin-top: -150px;
    }

}
@media screen and (max-width: 420px) {
    .great-since-title {
        margin-bottom: 70px;
    }
    .great-since-media-video {
        width: 322px;
        height: 222px;
    }
    .our-client-info {
        margin-top: -200px;
    }

}
@media screen and (max-width: 323px) {
    .great-since-title {
        margin-bottom: 120px;
    }
}
@media screen and (max-width: 383px) {
    .great-since-title {
        margin-bottom: 120px;
    }
    .great-since-media-video {
        width: 322px;
        height: 222px;
    }
    .great-since-desc {
        margin-bottom: 150px;
    }
    .newsletter-form {
        padding-right: 7px;
    }
    .newsletter-button {
        width: 110px;
        height: 40px;
        padding: 5px;
        font-size: 13px;
        margin-right: 7px;
    }
}
@media screen and (max-width: 330px) {
    .great-since-title {
        margin-bottom: 175px;
    }
    .great-since-media-video {
        width: 267px;
        height: 185px;
    }
    .great-since-desc {
        margin-bottom: 190px;
    }
    .happy-client-title {
        margin-bottom: 115px;
    }

}
/*Media end*/