@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*Header start*/
.header {
    font-family: 'Gilroy';
    box-shadow: 0 30px 60px rgba(34, 31, 32, 0.2);
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: white;
    text-transform: uppercase;
}
.subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
}
.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
    background: #403C3B;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.header__logo {
    width: 100px;
    height: 25px;
    margin-right: 72px;
}
.header__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 555px;
    height: 52px;
    background: #504B4A;
    border-radius: 10px;
    margin-right: 30px;
}
.header__search {
    background-color: #504B4A;
    color: #CFCFCF;
    margin: 0 256px 0 10px;
    border: 0;
}
.header__search-button {
    background: transparent;
    border: 0;
}
.header__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 100%;
    margin-right: 10px;
}
.header__contacts {
    margin-right: 188px;
}
.header__contacts-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #CFCFCF;
}
.header__contacts-number {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
}
.header__cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 149px;
    height: 52px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
}
.header__cart-title a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__cart-line {
    width: 38px;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: rotate(90deg);
}
.header__cart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 100%;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #403C3B;
}
.header__banner img {
    width: 1440px;
}
.header__bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 78px;
    background: #403C3B;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
}
.header__nav-item {
    margin-right: 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #CFCFCF;
    text-decoration: none;
}
.header__nav_active {
    font-weight: 500;
    color: white;
    padding-bottom: 26px;
    border-bottom: 3px solid #618967;
}
.header__nav-item a {
    text-decoration: none;
    color: white;
}
.header__nav-item:last-child {
    margin-right: 0;
}
/*Header end*/

/*Dishes start*/
.main {
    font-family: 'Gilroy';
}
.dishes {
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(90deg, #211F20 0%, #44403F 100%);
}
.dishes__title {
    padding-left: 91px;
    padding-top: 51px;
    margin-bottom: 50px;
}
.dishes__title h2 {
    padding-left: 19px;
    border-left: 4px solid #618967;
}
.dishes__cards {
    display: flex;
}
.dishes__card {
    background: linear-gradient(360deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    margin: 0 20px 50px 0;
}
.dishes__card:first-child {
    margin-left: -307px;
}
.dishes__card-img {
    margin-bottom: 14px;
}
.dishes__card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px ;
}
.dishes__card_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.dishes__card_weight {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}
.dishes__card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #CFCFCF;
    margin-bottom: 15px;
}
.dishes__card-price {
    display: flex;
    justify-content: space-between;
}
.dishes__card-cost {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.dishes__card-cart {
    width: 137px;
    height: 44px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    color: white;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
/*Cold dishes end*/
/*Meat dishes start*/
.dishes-last {
    padding-bottom: 43px;
    border: 0;
    background: linear-gradient(180deg, #211F20 0%, #44403F 100%);
}
/*About us start*/
.about-us {
    z-index: 1;
    background: linear-gradient(0deg, #211F20 0%, #44403F 100%);
}
.about-us__card {
    width: 1363px;
    margin: 0 auto;
}
.about-us__img {
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, #211F20 20%, rgba(68, 64, 63, 0) 100%);
}
.about-us__desc {
    position: absolute;
    z-index: 3;
    width: 563px;
    height: 225px;
    left: 108px;
    top: 2592px;
    color: red;
}
.about-us__title {
    margin-bottom: 26px;
}
.about-us__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #CFCFCF;
    margin-bottom: 60px;
}
.about-us__button {
    width: 223px;
    height: 59px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    /*backdrop-filter: blur(5px);*/
    border-radius: 10px;
    color: white;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}
.about-us__rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 228px;
    height: 227px;
    background: rgba(80, 75, 74, 0.9);
}
.about-us__rectangle_position-1 {
    left: 831px;
    top: 2498px;
}
.about-us__rectangle_position-2 {
    left: 1074px;
    top: 2498px;
}
.about-us__rectangle_position-3 {
    left: 831px;
    top: 2740px;
}
.about-us__rectangle_position-4 {
    left: 1074px;
    top: 2740px;
}
.about-us__icon-title {
    margin-top: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.about-us__rectangle_position-2 h4 {
    margin-top: 31px;
    color: #79B282;
}
/*About us end*/

/*Contacts start*/

.contacts__bg {
    position: absolute;
    top: 2926.68px;
    z-index: 1;
    max-width:100%;
    max-height:100%;
}
.contacts__map-img {
    position: relative;
    width: 1441px;
    height: 665px;
}
.contacts__card {
    position: relative;
    z-index: 2;
}
.contacts__card {
    width: 526px;
    height: 405px;
    margin: 70px 0 0 109px;
    padding: 25px 43px 0 43px;
    background: #2E2B2C;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    box-sizing: border-box;
}
.contacts__card-title {
    padding-bottom: 26px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.contacts__info {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}
.contacts__icon {
    margin-right: 11px;
}
.contacts__location-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #CFCFCF;
}
.contacts__location-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: white;
    margin-top: 10px;
}
.last {
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.contacts__book {
    display: flex;
    align-items: center;
}
.contacts__book-button {
    width: 211px;
    height: 59px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    color: white;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    margin: 0 33px 30px 0;
}
.contacts__number {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
}
.contacts__number-desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #CFCFCF;
}
.contacts__social {
    text-align: center;
}
.contacts__social__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 26px;
}
.contacts__social-icon {
    margin-right: 11px;
}
.last-icon {
    margin-right: 0;
}
.contacts__ellipse {
    position: absolute;
    z-index: 4;
    width: 98px;
    height: 112px;
    left: 1019px;
    top: 3257px;
}
/*Contacts end*/

/*Footer start*/
.footer {
    font-family: 'Gilroy';
    margin-top: 41px;
    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
}
.footer-wrapper {
    display: flex;
    align-items: center;
    width: 1360px;
    margin: 0 auto;
    padding-top: 26px;
}
.footer__ellipse {
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 55px;
}
.footer__logo {
    width: 100px;
    height: 25px;
    padding-bottom: 15px;
}
.footer__company-info {
    margin-right: 86px;
    margin-bottom: 30px;
}
.footer__company-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #CFCFCF;
    padding-bottom: 7px;
}
.footer__item {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 7px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__nav-list {
    display: flex;
}
.footer__nav-item a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 40px;
}
.footer__nav-item:last-child a {
    margin-right: 0;
}
/*Footer end*/
