@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Medium.woff') format('woff'),
    url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff'),
    url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
    url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
    url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
    url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {

}

/*Header start*/
.wrapper {
    max-width: 1736px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    color: white;
}
.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
}
.header {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 92px;
    font-family: 'SF Pro Display';
}
.header__wrapper {
    display: flex;
    width: 1736px;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
.header__logo {
    padding-right: 180px;
}
.header__nav-item {
    padding-right: 25px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    opacity: 0.9;
}
.header__button {
    width: 170px;
    height: 40px;
    background: #AC1216;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.9;
}
/*Header end*/

/*Spider-top start*/
.spider-top__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 887px;
    background: url("../assets/spidershiba-bg.png") no-repeat center;
    font-family: 'SF Pro Display';
}
.main {
    font-family: 'SF Pro Display';
}
.spider-top__info {
    color: white;
    margin-left: 92px;
}
.spider-top__title {
    width: 848px;
    height: 180px;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 5px;
}
.text-red {
    color: #E11D2E;
}
.spider-top__desc {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #71768E;

}
.spider-top__text {
    width: 848px;
    height: 114px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #A0A3B5;
    margin-top: 40px;
    margin-bottom: 46px;
}
.spider-top__button-1 {
    width: 295px;
    height: 80px;
    color: white;
    border-radius: 10px;
    background-color: #E11D2E;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border: 0;
    margin-right: 25px;
    margin-bottom: 20px;
}
.spider-top__button-2{
    width: 379px;
    height: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 0;
}
.spider-top__contact-address {
    width: 699px;
    text-align: left;
    padding: 14px 30px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
}
.spider-top__contact-title {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.2);
}
.spider-top__contact-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);
}
.spider-top__img {
    margin-right: 200px;
}
/*Spider-top end */
/*Running row start*/

.running-row__body {
    height: 38px;
    background: #5A4039;
}

.running-row__marquee{
    width:100%;
    text-transform: uppercase;
    white-space:nowrap;
    overflow:hidden;
}

.running-row__marquee span {
    color:#212121;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display:inline-block;
    color: rgba(255, 245, 0, 0.6);

    padding-left: 100%;
    margin-top: 11px;
    -webkit-animation: marquee 25s infinite linear;
    animation: marquee 25s infinite linear;
}

@-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}
/*Running row end*/

/*Spider web start*/
.spider-web__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Pro Display';
    background-color: #101932;
    z-index: 2;

}
.spider-web__companies-logo {
    padding-top: 50px;
    margin-bottom: 116px;
}
.spider-web__company-logo {
    opacity: .1;
    margin-right: 10px;
    border-radius: 50px;
    filter: grayscale(100%);
}
.spider-web__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.spider-web__title {
    width: 552px;
    height: 126px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: white;
    text-align: center;
    margin-bottom: 13px;
}
.spider-web__img {
    width: 193px;
    height: 180px;
    margin-bottom: 15px;

}
.spider-web__button {
    width: 215px;
    height: 77px;
    background: #E11D2E;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 22px;
    line-height: 26px;
    padding: 10px 45px;
    margin-bottom: 279px;
}
.spider-web__rectangle {
    position: absolute;
    width: 950px;
    height: 950px;
    left: 485px;
    top: 895px;
    background: #143D85;
    opacity: 0.05;
    border-radius: 1000px;
}
.spider-web__web-bg {
    position: absolute;
    left: 25.94%;
    right: 25.94%;
}
.spider-web__Earth {
    position: absolute;
    left: 785px;
    top: 1195px;

}
.spider-web__blue_icon {
    position: absolute;
    width: 108px;
    height: 108px;
    left: 1276px;
    top: 1068px;
    border-radius: 201.5px;
}
.spider-web__red_icon {
    position: absolute;
    left: 536px;
    top: 1302px;
    border-radius: 100px;
    box-shadow: 0 0 0 29px rgba(255, 0, 0, 0.2);
}
.spider-web__orange_icon {
    position: absolute;
    left: 1128px;
    top: 1631px;
    border-radius: 100px;
    box-shadow: 0 0 0 29px rgba(255, 165, 0, 0.2);

}
/*Spider web end*/

/*How it work start*/
.how-it-work {
    background-color: #101932;
    text-align: center;

}
.how-it-work__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 50px;
}
.how-it-work__cards {
    display: flex;
    width: 1624px;
    margin-left: 148px;
}
.how-it-work__card-icon {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin: 25px 0 55px 25px;
}
.red-bg {
    box-shadow: 0 0 0 25px rgba(255, 0, 0, 0.2);
}
.orange-bg {
    box-shadow: 0 0 0 25px rgba(255, 165, 0, 0.2);
}
.blue-bg {
    box-shadow: 0 0 0 25px rgba(0, 150, 255, 0.2);
}
.how-it-work__card-title {
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    color: white;
    margin-bottom: 10px;
}
.how-it-work__card-desc {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    opacity: 0.3;
    margin-bottom: 30px;
}
.how-it-work__card-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}
.card {
    text-align: left;
    margin-right: 68px;
    background-color: #384D70;
    padding: 30px 40px 40px 40px;
    border-radius: 20px;
    box-sizing: border-box;
}
.how-it-work__card-1 {
    width: 496px;
    max-height: 560px;
}
.how-it-work__card-2 {
    width: 496px;
    max-height: 620px;
    margin-bottom: 209px;
}
.how-it-work__card-3 {
    width: 496px;
    max-height: 460px;
}
/*How it work end*/

/*Play to earn start*/
.play-to-earn {
    text-align: center;
    background-color: #101932;
    padding-bottom: 175px;
}
.play-to-earn__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 10px;
}
.play-to-earn__desc {
    display: block;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: white;
    opacity: 0.5;
    margin-bottom: 50px;
}
.play-to-earn__game-plot {
    display: flex;
    background-color: #071022;
    padding: 36px 50px 60px 50px;
    border-radius: 30px;
    margin-bottom: 50px;
}
.play-to-earn__game-plot-img {
    border-radius: 25px;
    margin-right: 41px;
}
.play-to-earn__game-plot-desc {
    text-align: left;
}
.play-to-earn__icon {
    margin-right: 30px;
}
.subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: white;
    margin-bottom: 20px;
}
.play-to-earn__game-plot-title {
    margin-bottom: 20px;
}
.play-to-earn__game-plot-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.6);
}
.play-to-earn__cards {
    display: flex;
}
.card-1 {
    display: flex;
    border-radius: 30px;
    padding: 36px 64px 35px 30px;
}
.play-to-earn__cash-card {
    background: #FF9429;
    margin-right: 41px;
}
.play-to-earn__events-card {
    background: #067CCB;
}
.desc {
    text-align: left;
}
.text {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: white;
}
.play-to-earn__game-plot-text {

}
/*Play to earn end*/


/*Invest start*/
.invest {
    background: #30298C;
}
.invest__body {
    display: flex;
    align-items: center;
    height: 662px;
}
.invest__desc {
    text-align: left;
    margin-right: 316px;
}
.invest__web {
    position: absolute;
}
.invest__desc-title {
    text-align: left;
    margin-top: 177px;
    margin-bottom: 20px;
}
.invest__desc_text {
    text-align: left;
    width: 552px;
    height: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    opacity: 0.6;
    margin-bottom: 40px;
}
.invest__desc-button {
    text-align: center;
    width: 415px;
    height: 80px;
    background-color: #E11D2E;
    color: white;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 25px 25px;
    margin-bottom: 177px;
}
.invest_rectangle-star {
    position: absolute;
    width: 107px;
    height: 107px;
    left: 832px;
    top: 3902px;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 20px;
}
.invest_rectangle-arrow {
    position: absolute;
    width: 107px;
    height: 107px;
    left: 833px;
    top: 4108px;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 20px;

}
.invest__icons {
    margin-bottom: 177px;
}
.invest_icons:first-child {
    display: flex;
    margin-top: 148px;
}
.invest__arrow-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 50px;
    width: 868px;
    height: 110px;

}
.invest__star-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
     opacity: 0.8;
}
.invest__icon-arrow {
    position: absolute;
    left: 834px;
    top: 3930px;
}
.invest__icon-star {
    position: absolute;
    left: 809px;
    top: 4124px;

}
/*Invest end*/

/*Roadmap start*/
.roadmap {
    background: #101932;
    text-align: center;
    padding-bottom: 130px;
}
.roadmap__wrapper {
    max-width: 1624px;
    margin-left: 148px;
}
.roadmap__title {
    padding-top: 70px;
    color: white;
    margin-bottom: 50px;
}
.dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FF0000;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}
.roadmap__dot-1 {
    margin-top: 108px;
    margin-left: 806px;
}
.roadmap__line {
    position: absolute;
    width: 1687px;
    height: 3px;
    background-color: #384D70;
    margin-top: 1029px;
    margin-left: -30px;
    transform: rotate(90deg);
}
.roadmap__line-active {
    position: absolute;
    width: 309px;
    height: 3px;
    background-color: #E11D2E;
    margin-top: 276px;
    margin-left: 659px;
    transform: rotate(90deg);
}
.roadmap__dot-2 {
    margin-left: 806px;
    margin-top: 425px;
}
.roadmap__dot-3 {
    margin-left: 806px;
    margin-top: 790px;
}
.roadmap__dot-4 {
    margin-left: 806px;
    margin-top: 1145px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.roadmap__dot-5 {
    margin-left: 806px;
    margin-top: 1505px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.roadmap__logo {
    position: absolute;
    width: 32px;
    height: 78px;
    color: white;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    opacity: 0.5;
}
.logo-position-1 {
    left: 231px;
    top: 4685px;
}
.roadmap__icon {
    width: 138px;
    height: 146px;
    background: #384D70;
    opacity: 0.2;
    border-radius: 30px;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}
.roadmap__card-desc {
    text-align: left;
    margin-left: 30px;
}
.roadmap__card-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
    opacity: 0.5;
}
.roadmap__card-list {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: white;
    list-style: initial;
    opacity: 0.5;
}
.roadmap__cards {
    display: flex;
    background: rgba(56, 77, 112, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    margin-bottom: 60px;
}
.roadmap__card-not-active {
    background: #384D70;
}
.roadmap__icon_not_active {
    background-color: white;
    opacity: .1;
}
.roadmap__card-1 {
    width: 792px;
    height: 216px;
}
.roadmap__card-2 {
    width: 792px;
    height: 306px;
    margin-left: 832px;
}
.logo-position-2 {
    left: 1060.97px;
    top: 4961px;
}
.roadmap__card-3 {
    width: 792px;
    height: 306px;
}
.logo-position-3 {
    left: 220.72px;
    top: 5328px
}
.roadmap__card-4 {
    width: 792px;
    height: 276px;
    margin-left: 832px;
}
.logo-position-4 {
    left: 1058px;
    top: 5695px;
}
.roadmap__card-5 {
    width: 792px;
    height: 331px;
}
.logo-position-5 {
    left: 222px;
    top: 6037px
}
/*Roadmap end*/

/*Team start*/
.team {
    background: #162344;
    text-align: center;
}
.team__wrapper {
    max-width: 1562px;
    margin: 0 auto;
}
.team__title {
    padding-top: 70px;
    padding-bottom: 60px;
}
.team__photo-cards {
    display: flex;
}
.team__photo-card {
    margin-right: 54px;
}

.team__photo {
    margin-bottom: 20px;
}
.team__photo-card-title {
    margin-bottom: 13px;
}
.team__photo-card-text {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: white;
    opacity: 0.6;
    margin-bottom: 47px;
}
.team__dots {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.team__rectangle {
    width: 10px;
    height: 10px;
    background: #A2A7B4;
    margin-right: 15px;
}
.team__rectangle:last-child {
    margin-right: 0;
}
.active {
    background: #FF0000;
}
.team__partners {
    margin-bottom: 40px;
}
.team__logo {
    height: 80px;
    opacity: .8;
    margin: 0 20px 140px 0;
}
/*Team end*/

/*Tokenomics start*/
.tokenomics {
    background-color: #101D3F;
}
.tokenomics__title {
    padding-top: 70px;
    margin-bottom: 66px;
}
.tokenomics__doughnut-container {
    display: flex;
    justify-content: space-between;
}
.tokenomics__cards {
    margin-top: 26px;
}
.tokenomics__card {
    width: 444px;
    height: 140px;
    background: #071022;
    border-radius: 15px;
    text-align: left;
    padding: 25px 0 0 30px;
    margin-bottom: 25px;
}
.tokenomics__card-title {
    font-weight: 600;
    font-size: 27px;
    line-height: 32px;
    color: white;
    margin-bottom: 5px;
}
.tokenomics__card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    opacity: 0.3;
}
.line {
    margin-bottom: 10px;
}
.tokenomics__purple-line {
    width: 57px;
    height: 0px;

    border: 2px solid #4E00FF;
}
.tokenomics__orange-line {
    display: inline-block;
    width: 15px;
    height: 0px;
    border: 2px solid #FF850B;
    margin-right: 5px;
}
.tokenomics__fiolet-line {
    display: inline-block;
    width: 18px;
    height: 0px;
    border: 2px solid #663090;
}
.tokenomics__blue-line {
    width: 90px;
    left: 122px;
    top: 8067px;
    border: 2px solid #1DBEE1;
}
.tokenomics__darkblue-line {
    width: 30px;
    height: 0px;
    border: 2px solid #133D81;
}
.tokenomics__red-line {
    width: 45px;
    height: 0px;
    border: 2px solid #FF0000;
}
.tokenomics__lightblue {
    width: 45px;
    height: 0px;
    border: 2px solid #0096F2;
}
.tokenomics__doughnut {
    margin-bottom: 130px;
}
/*Tokenomics end*/

/*Questions start*/
.questions {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #101932;
}
.questions__title {
    margin: 70px 0 48px 0;
}
.questions__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1036px;
    height: 75px;
    background: #384D70;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 0 25px 0 35px;
}
.questions__card:last-child {
    margin-bottom: 150px;
}
.questions__card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: white;
}
.questions__card-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.questions__card-arrow {
    position: absolute;
}
.questions__card-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Questions end*/

/*Join start*/
.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #162758;
}
.join__title {
    text-align: center;
    padding-top: 60px;
    width: 782px;
    height: 120px;
    margin-bottom: 110px;
}
.join__icons {
    display: flex;
    justify-content: center;
}
.join__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    background: #E11D2E;
    border-radius: 15px;
    margin: 0 40px 80px 0;
    z-index: 1;
}
.join__spidershiba {
    width: 256px;
    height: 238px;
    margin-bottom: 50px;
    z-index: 1;
}
.join__contact-code span {
    display: block;
}
.join__contact-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 699px;
    height: 98px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding-left: 56px;
    box-sizing: border-box;
    margin-bottom: 107px;
    z-index: 1;

}
.join__code-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.4);
}
.join__code-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.join__map {
    position: absolute;
    margin-top: 200px;
    z-index: 0;
    opacity: 0.25;
}
/*Join end*/

/*Footer start*/
.footer {
    text-align: center;
    background-color: #0D1428;
    font-family: 'SF Pro Display';

}
.footer__copyright {
    display: block;
    padding: 40px 0 40px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
/*Footer end*/